<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employees</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Liste des employées</h1>


<ul>
    <li class="employee" th:each="employee: ${employees}">
        <p th:text="${employee.name}" th:attr="style='background:' + ${employee.fonction.getCodeCouleur()}"></p>
        <a th:href="@{/employee/{id}(id=${employee.id})}" th:text="${employee.id}"></a>
    </li>
</ul>
<form th:action="@{/employee/addemployee}" method="post" th:object="${employee}">
    <label>
        Nom
        <input type="text" th:field="*{name}">
    </label>
    <label>
        Adresse
        <input type="text" th:field="*{address}">
    </label>
    <label>
        Courriel
        <input type="text" th:field="*{email}">
    </label>
    <label>
        Téléphone
        <input type="text" th:field="*{phone}">
    </label>
    <select name="color">
        <option th:each="fonction : ${T(fr.devavance.tp_springboot_mvc_jpa.entity.Fonction).values()}"
                th:value="${fonction}" th:text="${fonction}"></option>
    </select>
    <button type="submit">Ajouter</button>
</form>
</body>
</html>