<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employes</title>
</head>
<body>
<ul>
    <li th:each="employee : ${employees}">
        <p th:text="${employee.name}"  th:attr="style='color:' + ${employee.fonction.getCodeCouleur()}"></p>
    </li>
</ul>
<form method="POST" th:action="@{/addemployee}" th:object="${employee}">
    <label for="name">nom: </label>
    <input type="text" name="name" id="name" required th:field="*{name}"/>
    <label for="address">address: </label>
    <input type="text" name="address" id="address" required th:field="*{address}"/>
    <label for="email">email: </label>
    <input type="text" name="email" id="email" required th:field="*{email}"/>
    <label for="phone">phone: </label>
    <input type="text" name="phone" id="phone" required th:field="*{phone}"/>
    <select name="fonction">
        <option th:each="fonction : ${T(fr.devavance.tp_springboot_mvc_jpa.dao.Fonction).values()}"
                th:value="${fonction}" th:text="${fonction}"></option>
    </select>
    <input type="submit" value="Donner" />
</form>
</body>
</html>